<div class="container mt-4">
    <div class="card">
        <div class="card-body">
            <span class="h3">Lista de Tareas</span>
            <button class="btn btn-dark btn-lg" routerLink="/Create-Tareas" >Agregar</button>
            <table class="table table-striped mt-5">
                <thead>
                  <tr>
                    <th>Materia</th>
                    <th>Profesor</th>
                    <th>Nombre de la Tarea</th>
                    <th>Fecha de entrega</th>
                    <th></th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>Programacion web</td>
                    <td>Luis Soto</td>
                    <td>To Do List en angular</td>
                    <td>3/11/2021</td>
                    <td>
                        <i class="A far fa-edit fa-lg text-info"></i>
                        <i class="B far fa-trash-alt fa-lg text-danger"></i>
                    </td>
                  </tr>
                  <tr>
                    <td>Programacion web</td>
                    <td>Luis Soto</td>
                    <td>To Do List en angular</td>
                    <td>3/11/2021</td>
                    <td>
                      <i class="A far fa-edit fa-lg text-info"></i>
                      <i class="B far fa-trash-alt fa-lg text-danger"></i>
                  </td>
                  </tr>
                  <tr>
                    <td>Programacion web</td>
                    <td>Luis Soto</td>
                    <td>To Do List en angular</td>
                    <td>3/11/2021</td>
                    <td>
                      <i class="A far fa-edit fa-lg text-info"></i>
                      <i class="B far fa-trash-alt fa-lg text-danger"></i>
                  </td>
                  </tr>
                </tbody>
              </table>
        </div>
    </div>
</div>
